body{
    background-color: rgb(230, 230, 230);
}

#the_header{
    text-align: center;
    font-size: larger;
    background-color: black;
    color: gold;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20vw;
    font-size: large;
    background-color: rgb(211, 211, 29);
    align-items: center;
}


nav{
    text-align: center;
    font-size: large;
}

table{
    border: 1px solid black;
    padding: 3%;
}

#quote{
    text-align: center;
}
